.page {
  margin-top: 70px;
}

.panelBody {
  text-align: center;
}

.icon {
  opacity: 0.3;
  color: #8a6d3b;
}

.text {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  padding-left: 20px;
  font-size: 20px;
}
