@import '../../../styles/variables/colors';

.titleWrapper {
  margin-bottom: 24px;
}

.title {
  padding: 0;
  margin-bottom: 15px;
  font-size: 11px;
  color: $text-dark-color;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.addButton {
  margin: 0 10px 2px 10px;
  width: 26px !important;
  height: 26px !important;
}
