@import 'variables/colors';

.changePasswordModal {
  max-width: 700px;
  font-weight: 300;
}
.sqTitle {
  font-size: 14px;
  font-weight: bold;
  color: $text-dark-color;
}
.modalHr {
  margin: 30px 0;
  border-color: #aaa;
}
