@import '../../../../styles/variables/colors';

.lastColumn {
  padding-right: 1.5% !important;
}

.memosIcon {
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 5px;
  color: $text-light-color;
}
