@import '../../../styles/variables/colors';
@import '../../../styles/variables/dimensions';
@import '../../../styles/mixins';

.content {
  margin-top: 25px;
}
.contentRow {
  margin: 30px 0 50px;
}
.personalInfoContainer {
  padding: 0 30px;
  width: 300px;
  float: left;
}
.initialDepositsTitle {
  margin-bottom: 0;
}
.initialDepositsDesc {
  font-size: 15px;
  margin-bottom: 20px;
}
.question {
  float: none;
  margin-left: 300px;
  padding-right: 55px;
  width: auto;
  h2 {
    color: $green-color2;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.3;
  }
}
.bottomActions {
  margin: 40px 0;
  text-align: center;
}

.CGAILabel {
  color: $primary-color;
  margin-right: 10px;
  font-weight: 400;
}
.CGAIValue {
  text-align: right;
  color: $text-dark-color;
}
.bettermentAccounts,
.externalAccounts {
  margin-bottom: 25px;
}
.listHeader {
  text-transform: uppercase;
  color: $green-color2;
  font-weight: 400;
}
.dipositsTable {
  border-top: 1px solid $green-color2;
  font-size: 12px;
  width: 100%;
  margin-bottom: 5px;
  table-layout: fixed;
  tr {
    border-bottom: 1px solid $border-color;
  }
  th {
    text-transform: uppercase;
    font-weight: 300;
    transition: color .15s;
    &:hover {
      color: $green-color2;
    }
  }
  th, td {
    padding: 4px 5px 3px 0;
    cursor: default;
    &:last-child {
      padding-right: 0;
    }
  }
}
.dipositsList {
  .asset {
    width: 55%;
  }
  .availableAmount {
    width: 20%;
  }
  .depositAmount {
    width: 20%;
    text-align: right;
  }
  .action {
    width: 5%;
  }
  td, th {
    &:last-child {
      padding: 0;
      text-align: right;
      width: 50px;
    }
  }
}
.btnAction {
  padding: 0 !important;
  color: inherit;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
  &:hover, &:focus {
    color: $primary-color;
  }
}
.btnAdd {
  padding: 0;
  text-transform: uppercase;
  color: $green-color2;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
  &:hover, &:focus {
    color: $primary-color;
  }
  span {
    margin-left: 5px;
    vertical-align: middle;
  }
}
.newDepositRow {
  td {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }
}
.newDepositAmountInput {
  height: 22px;
  margin-bottom: 0;
  padding-left: 10px;
  input {
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
  }
}
.btnPrimary {
  color: $primary-color;
  &:hover, &:focus {
    color: $primary-lighten-color;
  }
  &:active {
    color: $primary-darken-color;
  }
}

:global {
  .new-deposit-select {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    @import '../../../../node_modules/react-select-plus/scss/select';

    // Customizations
    $select-input-height: 22px;
    $select-input-internal-height: ($select-input-height - ($select-input-border-width * 2));
    $select-padding-horizontal: 3px;
    $select-padding-vertical: 3px;
    $select-item-font-size: 14px;
    $select-arrow-width: 3px;
    $select-input-border-focus: $primary-color;
    $select-arrow-color: $text-color;
    $select-arrow-color-hover: $primary-color;
    $select-input-placeholder: $text-color;
    $select-option-focused-bg: $primary-color;
    $select-option-focused-color: white;

    @import '../../../../node_modules/react-select-plus/scss/control';
    @import '../../../../node_modules/react-select-plus/scss/menu';
    @import '../../../../node_modules/react-select-plus/scss/mixins';
    @import '../../../../node_modules/react-select-plus/scss/multi';
    @import '../../../../node_modules/react-select-plus/scss/spinner';
  }
}