@import '../styles/variables/colors';

.pie-chart {
  position: relative;
  height: 225px !important;
  width: 225px !important;
}

.isPieChartEmpty {
  :global {
    circle.hole {
      fill: rgba(160, 160, 160, 0.4) !important;
      stroke-width: 20px;
      stroke: rgba(190, 190, 190, 1);
    }

    path {
      display: none;
    }
  }
}

.donut {
  position: relative;
  z-index: 2;
  height: 225px;
  width: 225px;
}

.aggregate {
  opacity: .5;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 225px !important;
  width: 225px !important;
}

.stocks {
  border-right: 1px solid $border-color;
  padding-right: 4px;
  margin-left: 1px;
}

.bonds {
  padding-left: 4px;
}

.stocks, .bonds {
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 52px;
}

.allocation {
  font-size: 27px;
  line-height: 1;
  color: inherit;
}

.hole-text {
  z-index: 4;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.945378);
}

.title {
  color: inherit;
  font-size: .8em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .05em;
  text-decoration: none;
}

.colorNote {
  float: left;
  width: 20px;
}
.tooltipContent {
  margin-left: 20px;
  color: $text-color;
  font-size: 13px;
  text-align: left;
}
.tooltipTitle {
  font-weight: 500;
  margin-bottom: 5px;
}
