@import '../styles/variables/colors';
@import '../styles/variables/dimensions';
@import '../styles/mixins';

.hedge {
  width: 100%;
  margin: 20px 0;
  padding: 16px;
  border: 1px solid $border-color;
  @include border-radius(3px);
}

.title {
  float: left;
  font-weight: 500;
}

.status {
  float: right;
  text-align: right;
  text-transform: uppercase;
  font-size: 11px;
  color: $primary-color;
  padding-top: 2px;
  @media (min-width: $sm-width) and (max-width: $md-width) {
    text-align: left;
  }
}

.tooltip {
  color: $text-light-color;
  margin-left: 5px;
  cursor: pointer;
}
