$lg-width:				1200px;
$md-width:				992px;
$sm-width:				768px;

$lg-container-width:	1170px;
$md-container-width:	970px;
$sm-container-width:	750px;

$content-width: 	$sm-container-width;
$content-min-height: 500px;
