button {
  margin-right: 10px;

  &.wide {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.headerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.btnModifyGoal {
  padding-left: 30px;
  padding-right: 25px;
}
